.admin-container {  
    align-items: unset !important;
    background: url('../../assets/hero_stars.png') top center;
    background-size: initial;
}

.panel-details {
    margin-left: 50px;
    width: 500px;
}